.mainDiv{
    margin: 10px auto;
    border: 1px solid #999;
    width: 80%;
    border-radius: 10px 10px 0px 0px ; 
    transition: 1s;
    
}
.mainDivFalse{
    margin: 10px auto;
    transition: 1s;
    width: 80%;
    border: 1px solid #999;
    border-radius: 10px; 
  
    
}
.headerDiv{
    background-color: #6895D2;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px ;
    height: 35px;
    padding: 2px;
    color: #fff;
    transition: 1s;
    
    
   
}

.headerTitle{
    
    display: inline;
    padding-left: 10px;
    font-size: 20px;
    
}
#logo{
    display: inline;
    
   margin-left: 80%;
}

#chevronUp{
    font-size: 20px; 
    transition: 1s;
}
#chevronUpFalse{    font-size: 20px; 
    transform: rotate(180deg);
    transition: 1s;
}
.productMainDiv{
    overflow: hidden;
    height: 500px;
    display: flex;
    position: relative;

    height: 500px;


    justify-content: space-around;
    transition-duration: 1s;
    overflow: hidden;
   
}
.none{
    display: flex;
    transition-duration: 1s;
    justify-content: space-around;

   
   height: 0px;
   overflow: hidden;

    height: 0px;
    overflow: hidden;

}
.headerDivFalse{
    background-color:#ccc;

    border-radius: 10px 10px 10px 10px ;
    height: 35px;
    padding: 2px;
    color: #000;
    transition: 1s;

}